.page-wrapper {
  background: linear-gradient(63.51deg, #0875d9 1.37%, #bc36d1 103.93%);
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  .page-logo {
    display: flex;
    height: 230px;
    align-items: center;
    justify-content: center;
  }
  .page-form {
    background: #ffffff;
    border-radius: 5px;
    width: 950px;
    max-width: 100%;
    display: inline-block;
    .form-header {
      display: flex;
      & > div {
        flex: 1;
        height: 100px;
        cursor: pointer;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .login-title {
        background: #ffffff;
        box-shadow: inset 0px 0px 39px #e7e9f1;
        border-radius: 5px;
      }
      h2 {
        margin: 0;
      }
    }
    .form-container {
      padding: 70px;
      text-align: left;
      .form-actions {
        display: flex;
        justify-content: center;
        & > * {
          width: 33% !important;
        }
        .enter-capcha {
          margin: 0 10px;
        }
      }
    }
    .forgot-password {
      margin-top: 40px;
    }
  }
}

@media (max-width: 1024px) {
  .page-wrapper {
    .page-form {
      .form-header {
        & > div {
          height: 70px;
        }
      }
    }
  }
}


@media (max-width: 991px) {
  .page-wrapper{
    .page-logo{
      height: 130px;
      margin-bottom: 10px;
    }
    .page-form{
      .form-container{
        padding: 20px;
      }
    }
  }
}

.page-wrapper {
  .page-logo {
    z-index: 2;
    position: relative;
  }
  .page-form {
    z-index: 2;
    position: relative;
  }
}
.box {
  border-radius: 100%;
  position: fixed;
  &.left {
    width: 800px;
    height: 800px;
    top: 50%;
    transform: translateY(-50%);
    left: -400px;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(69, 119, 247, 0.54) 0%,
      rgba(69, 119, 247, 0) 100%
    );
  }
  &.right {
    width: 800px;
    height: 800px;
    top: 50%;
    transform: translateY(-50%);
    right: -400px;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(166, 86, 243, 0.2886) 0%,
      rgba(69, 119, 247, 0) 100%
    );
  }
}
