<div class="page-wrapper">
  <div class="page-logo">
    <app-logo-white></app-logo-white>
  </div>
  <div class="page-form">
    <div class="form-header">
      <div class="register-title">
        <h2 class="title">Đăng ký</h2>
      </div>
      <div class="login-title">
        <h2 [routerLink]="['/login']">Đăng nhập</h2>
      </div>
    </div>
    <div class="form-container">
      <ng-container *ngIf="!registerSucceed">
        <form class="form" [formGroup]="valForm" name="loginForm" role="form" class="form form-validate" (submit)="submit($event, valForm.value)">
          <div class="form-field">
            <label for="">Họ tên <span class="require">*</span></label>
            <input type="text" formControlName="name" autocomplete="off"  />
            <p class="text-danger form-field-message" *ngIf="hasError('name', 'required')">Vui lòng nhập tên</p>
            <p class="text-danger form-field-message" *ngIf="hasError('name', 'maxlength')">Bạn đã nhập quá ký tự</p>
            <p class="text-danger form-field-message" *ngIf="hasError('name', 'pattern')">Họ tên không được chứa kí tự đặc biệt</p>
          </div>
          <div class="form-field">
            <label for="">Email <span class="require">*</span></label>
            <input type="text" formControlName="email" autocomplete="off"  />
            <p class="text-danger form-field-message" *ngIf="hasErrorAdv('email', ['required', 'email', 'pattern']).error">{{ hasErrorAdv("email", ["required", "email", "pattern"]).text }}</p>
          </div>

          <div class="form-field">
            <label for="">Số điện thoại <span class="require">*</span></label>
            <input (keypress)="inputValidator($event)" type="text" formControlName="phone" autocomplete="off" maxlength="10"/>
            <p class="text-danger form-field-message" *ngIf="hasError('phone', 'required')">Vui lòng nhập số điện thoại</p>
            <p class="text-danger form-field-message" *ngIf="hasError('phone', 'maxlength')">Vui lòng nhập đúng số điện thoại</p>
            <p class="text-danger form-field-message" *ngIf="hasError('phone', 'pattern')">Vui lòng chỉ nhập kí tự số</p>
          </div>
          <div class="form-field">
            <label for="">Mật khẩu <span class="require">*</span></label>
            <input type="password" formControlName="password" autocomplete="off" placeholder="Mật khẩu ít nhất 8 ký tự"  />
            <p class="text-danger form-field-message" *ngIf="hasErrorPw('password', ['required', 'pattern']).error">{{ hasErrorPw("password", ["required", "pattern"]).text }}</p>
          </div>
          <div class="form-field">
            <label for="">Nhập lại mật khẩu <span class="require">*</span></label>
            <input type="password" formControlName="confirmPassword" autocomplete="off" placeholder="Mật khẩu ít nhất 8 ký tự"/>
            <p class="text-danger form-field-message" *ngIf="hasError('confirmPassword', 'required')">Vui lòng nhập lại mật khẩu</p>
            <p class="text-danger form-field-message" *ngIf="!hasError('confirmPassword', 'required') && isErrorConfirmPw">Xác nhận mật khẩu không đúng</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <ngx-recaptcha2 #captchaElem class="captcha"
              [siteKey]="siteKey"
              [useGlobalDomain]="false"
              size="normal"
              hl="vi"
              theme="light"
              type="image"
              formControlName="recaptcha">
            </ngx-recaptcha2> 
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5 p-2">
              <button class="btn btn-primary w-100" type="submit" [disabled]="isLoading$ | async">Đăng ký</button>
            </div>
          </div>
          <div class="form-actions">
            <div class="capcha" *ngIf="needConfirmCapcha">x</div>
            <div class="enter-capcha" *ngIf="needConfirmCapcha">
              <div class="form-field">
                <input type="password" formControlName="password" autocomplete="off" placeholder="Nhập mã capcha" />
                <p class="text-danger form-field-message" *ngIf="hasError('password', 'required')"></p>
              </div>
            </div>
            <!-- <button class="btn btn-primary w-100" type="submit" [disabled]="isLoading$ | async">Đăng ký</button> -->
          </div>
        </form>
      </ng-container>
      <!-- Alert -->
      <div class="alert-succeed text-center" *ngIf="registerSucceed">
          <p class="text-success">Đăng ký thành công!</p>
          <p>Vui lòng xác nhận email đã được gửi tới: <b class="color-title">{{valForm.controls['email'].value}}</b> để tiếp tục</p>
      </div>
      <!-- <div class="forgot-password">
        <a [routerLink]="['/forgot-password']">Quên mật khẩu ?</a>
      </div> -->
    </div>
  </div>
  <div class="box left"></div>
  <div class="box right"></div>
  <div class="box bottom"></div>
</div>
