<div class="page-wrapper">
  <div class="page-logo">
    <app-logo-white></app-logo-white>
  </div>
  <div class="page-form">
    <ng-container *ngIf="step === 'OTP'">
      <div class="form-header">
        <div class="login-title">
          <h2 class="title">Bạn quên mật khẩu?</h2>
        </div>
      </div>
      <div class="form-container">
        <form class="form" [formGroup]="valForm" name="loginForm" role="form" class="form form-validate" (submit)="submit($event, valForm.value)">

          
          <div class="form-actions">
            <div class="enter-capcha">
              <div class="form-field">
                <input type="text" formControlName="email" autocomplete="off" placeholder="Email của bạn" />
              </div>
            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="isLoading$ | async">Gửi</button>
          </div>
          <div class="text-remind">Vui lòng nhập Email bạn đã đăng kí, chúng tôi sẽ gửi mật khẩu mới vào email của bạn</div>
          <p class="text-danger form-field-message" *ngIf="hasError('email', 'required')">Vui lòng nhập email</p>
          <p class="text-danger form-field-message" *ngIf="hasError('email', 'email')">Email không đúng định dạng</p>
          <p>Vui lòng nhập Email bạn đã đăng ký, chúng tôi sẽ gửi lại mật khẩu mới vào email của bạn.</p>
          <!-- <p class="text-danger form-field-message" *ngIf="hasError('email', 'required')">Vui lòng nhập email</p>
          <p class="text-danger form-field-message" *ngIf="hasError('email', 'email')">Email không đúng định dạng</p> -->
        </form>
        <div class="forgot-password">
          <a [routerLink]="['/login']">Quay lại đăng nhập</a>
        </div>
      </div>
    </ng-container>
    <!-- CONFIRM CHANGE -->
    <ng-container *ngIf="step === 'CONFIRM'">
      <div class="form-header">
        <div class="login-title">
          <h2 class="title">Xác nhận OTP</h2>
        </div>
      </div>
      <div class="form-container">
        <form class="form" [formGroup]="confirmForm" name="loginForm" role="form" class="form form-validate" (submit)="submitChange($event, confirmForm.value)">
          <div class="form-field">
            <label for="">Mật khẩu <span class="require">*</span></label>
            <input type="password" formControlName="password" autocomplete="off" placeholder="Mật khẩu ít nhất 8 ký tự" />
            <p class="text-danger form-field-message" *ngIf="hasChangeError('password', 'required')">Vui lòng nhập mật khẩu</p>
            <p class="text-danger form-field-message" *ngIf="hasChangeError('password', 'minlength')">Mật khẩu ít nhất 8 ký tự</p>
          </div>
          <div class="form-field">
            <label for="">Nhập lại mật khẩu <span class="require">*</span></label>
            <input type="password" formControlName="confirmPassword" autocomplete="off" placeholder="Mật khẩu ít nhất 8 ký tự"/>
            <p class="text-danger form-field-message" *ngIf="hasChangeError('confirmPassword', 'required')">Vui lòng nhập lại mật khẩu</p>
            <p class="text-danger form-field-message" *ngIf="!hasChangeError('confirmPassword', 'required') && isErrorConfirmPw">Xác nhận mật khẩu không đúng</p>
          </div>
          <div class="form-field">
            <label for="">OTP <span class="require">*</span></label>
            <div class="w-100 d-flex flex-row">
              <input type="text" formControlName="otp" autocomplete="off" />
              <button *ngIf="resetOTP" class="btn btn-primary w-25 ms-2" type="button" (click)="resetOtp()" [disabled]="isLoading$ | async">Gửi lại OTP</button>
            </div>
            <p class="text-danger form-field-message" *ngIf="hasChangeError('otp', 'required')">Vui lòng nhập mã OTP</p>
          </div>
          <div class="form-actions">
            <div class="capcha" *ngIf="needConfirmCapcha">x</div>
            <div class="enter-capcha" *ngIf="needConfirmCapcha">
              <div class="form-field">
                <input type="password" formControlName="password" autocomplete="off" placeholder="Nhập mã capcha" />
                <p class="text-danger form-field-message" *ngIf="hasChangeError('password', 'required')"></p>
              </div>
            </div>
            <button class="btn btn-primary w-100" type="submit" [disabled]="isLoading$ | async">Xác nhận</button>
          </div>
        </form>
        <div class="forgot-password">
          <a [routerLink]="['/login']">Quay lại đăng nhập</a>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="box left"></div>
  <div class="box right"></div>
  <div class="box bottom"></div>
</div>
