.header-one{
  height: 220px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 1024px){
  .header-one{
    height: 140px;
  }
}