<div class="block">
  <div class="home-banner">
    <div class="banner-image">
      <img src="assets/images/png/home_banner.png" alt="" />
    </div>
    <div class="banner-content">
      <div class="title">Giới thiệu</div>
      <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    </div>
  </div>
</div>
