<div class="environment-integrated">
  <div class="row">
    <div class="col-xl-8 col-md-12">
      <div class="left-content">
        <h2 class="">Môi trường Test</h2>
        <p>Chúng tôi đang cung cấp 2 phương thức kết nối qua API và <br> SDK, vui lòng tạo ứng dụng để kết nối được API hoặc SDK</p>
        <button class="btn btn-primary">Ứng dụng</button>
      </div>
    </div>
    <div class="col-xl-4 col-md-12">
      <div class="right-content">
        <img src="assets/" alt="">
        <div class="absolute-text">
          <h1>Môi trường Live</h1>
          <button class="btn">Ứng dụng</button>
        </div>
      </div>
    </div>
  </div>
</div>