<div class="contact-us block">
  <h4 class="text-uppercase"><b>Thông tin liên hệ</b></h4>
  <div class="block-content">
    <div class="item">
      <i class="fa fa-institution"></i> <b>Phòng giao dịch thủ đô</b>
    </div>
    <div class="item">
      <i class="item fa fa-map-marker"></i>
      <span
        >Trụ sở chính: Tòa nhà Thaiholdings, số 210 Trần Quang Khải, Q. Hoàn
        Kiếm, Hà Nội.</span
      >
    </div>
    <div class="item">
      <i class="fa fa-phone"></i> <span>0988 888 888</span>
    </div>
    <div class="item">
      <i class="fa fa-envelope"></i> <span>Fax: 024 62 669 669</span>
    </div>
  </div>
</div>
