.btn-close{
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal-body{
  padding: 30px;
}
.actions{
  margin-top: 30px;
}
.btn-primary.cancel{
  margin-right: 20px;
  background: #fff!important;
  border: 1px solid #C4C4C4!important;
  color: #58595B;
}
