.forgot-wrapper{
  .social-icons-block{
    .social-icons-content{
      ul{
        flex-direction: column;
        li{
          min-width: 190px;
          margin-bottom: 10px!important;
        }
      }
    }
    
  }
}