.modal-header{
  border-bottom: 1px solid $border-color;
  padding: 15px;
  .btn-close{
    padding: 15px;
    margin: -15px -15px -15px auto;
    font-size: 14px;
  }
}
.modal-footer{
  border-top: 1px solid $border-color;
}