@font-face {
	font-family: "VLABELPRO";
	font-style: normal;
	font-weight: 400;
	src: url("../../fonts/vlabelpro/VLABELPRO.OTF") format('truetype');
}
@font-face {
	font-family: "VLABELPRO-BOLD";
	font-style: normal;
	font-weight: 700;
	src: url("../../fonts/vlabelpro/VLABELPRO-BOLD.OTF") format('truetype');
}