.page-main{
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 900px;
  margin: 0 auto;
}
.form-actions{
  button{
    width: 33%!important;
  }
}
.page-wrapper {
  .page-logo {
    z-index: 2;
    position: relative;
  }
  .page-form {
    z-index: 2;
    position: relative;
  }
}
.box {
  border-radius: 100%;
  position: fixed;
  &.left {
    width: 800px;
    height: 800px;
    top: 50%;
    transform: translateY(-50%);
    left: -400px;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(69, 119, 247, 0.54) 0%,
      rgba(69, 119, 247, 0) 100%
    );
  }
  &.right {
    width: 800px;
    height: 800px;
    top: 50%;
    transform: translateY(-50%);
    right: -400px;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(166, 86, 243, 0.2886) 0%,
      rgba(69, 119, 247, 0) 100%
    );
  }
}
